@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.button {
  @include flex();
  width: 100%;
  height: 50px;
  padding: 14px 0;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: $violet_5534DA;
  color: $white_FFFFFF;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.inactive {
  background-color: $gray_9FA6B2;
  cursor: not-allowed;

  &:hover {
    opacity: 1;
  }
}

@include tablet {
  .button {
    padding: 14px 0;
  }
}
