@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include flex();
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

.logo {
  margin-bottom: 32px;
}

.go_register {
  font-size: 14px;
  text-align: center;

  & a {
    color: $violet_5534DA;
    font-weight: 500;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}
